

#container{
    position: relative;
    width: 1200px;
    height: 100%;
    border: 1px solid #202020;
    margin: 0 auto;
    overflow: hidden;
}

.home-image{
    position: absolute;
    top: 0px;
    left: 380px;
    width: 986px;
    height: 654px;
    background-image:url("../images/home/mv.png");
    background-size:986px 654px;	
    background-repeat: no-repeat;
    border: 1px solid red;
}

header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 104px;
    border: 1px solid red;
    z-index: 100;
}

.logo{
    position: absolute;
    top: 47px;
    left: 56px;
    border: 1px solid blue;
}

.nav{
    display: inline-block;
    position: absolute;
    bottom: 23px;
    left: 304px;
    border: 1px solid yellow;
}

.nav li{
    float: left;
    margin-right: 56px;
    font-size: 14px;
    font-family: NotoSansCJKjp-Bold;
    font-weight: bold;
}

.title-box{
    position: absolute;
    top:237px;
    left: 130px;
    border: 1px solid blue;
}

.size48{
    font-size: 48px;
    font-family: NotoSansCJKjp-Bold;
}

.size16{
    font-size: 16px;
    font-family: NotoSansCJKjp-Medium;
}

